{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_markchart') }}">  {{ 'Settings'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Element'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_markchart_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('kpi_markchart') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'KPI Mark Chart'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage KPI Element'|trans }} </div>
                    </div>

                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6 offset-1">
                                        <div class="form-group">
                                            {{ form_label(form.parent, 'Parent Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.parent) }}
                                                {{ form_errors(form.parent) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.settingGroup, 'Setting Group'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.settingGroup) }}
                                                {{ form_errors(form.settingGroup) }}
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            {{ form_label(form.slug, 'Slug'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
{#                                                <span class="not-blank"> {{ 'Required'|trans }}</span>#}
                                                {{ form_widget(form.slug) }}
                                                {{ form_errors(form.slug) }}
                                            </div>
                                        </div>
{#                                        <div class="form-group">
                                            {{ form_label(form.designation, 'Designation'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.designation) }}
                                                {{ form_errors(form.designation) }}
                                            </div>
                                        </div>#}
                                        <div class="form-group">
                                            {{ form_label(form.reportMode, 'Report For'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.reportMode) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.description, 'Description'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.description) }}
                                                {{ form_errors(form.description) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.salesMode, 'Sales Mode'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                {{ form_widget(form.salesMode) }}
                                                {{ form_errors(form.salesMode) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.mark, 'Mark'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                {{ form_widget(form.mark) }}
                                                {{ form_errors(form.mark) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.ordering, 'Ordering'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-4">
                                                {{ form_widget(form.ordering,{'type':'number'}) }}
                                                {{ form_errors(form.ordering) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4"></label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.systemEntry) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4"></label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.status) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="col-md-6 "></div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue',value:'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
<style>
.checkbox label{
    color: #000!important;
}
</style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}