{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ 'Employee KPI Boards'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Employee KPI Boards'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_board_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Employee Board'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">{{ 'S/N'|trans }}</th>
                            <th scope="col">{{ 'Created Date'|trans }}</th>
                            <th scope="col" style="width: 120px">{{ 'Name'|trans }}</th>
                            <th scope="col">{{ 'Designation'|trans }}</th>
                            <th scope="col">{{ 'Line Manager'|trans }}</th>
                            <th scope="col">{{ 'Month'|trans }}</th>
                            <th scope="col">{{ 'Year'|trans }}</th>
                            <th scope="col">{{ 'Created By'|trans }}</th>
                            <th scope="col">{{ 'Approve'|trans }}</th>
                            <th scope="col">{{ 'Approved By'|trans }}</th>
                            <th scope="col text-center" style="width:100px"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity  in entities %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.created|date('d-m-Y')|default('') }}</td>
                                <td>{{ entity.name|default('') }}</td>
                                <td>{{ entity.designation|default('') }}</td>
                                <td>{{ entity.lineManager|default('') }}</td>
                                <td>{{ entity.month|default('') }}</td>
                                <td>{{ entity.year|default('') }}</td>
                                <td>{{ entity.createdByName|default('') }}</td>
                                <td>{{ entity.approvedByName == null ? 'No': 'Yes' }}</td>
                                <td>{{ entity.approvedByName|default('') }}</td>
                                <td align="right">
                                    <div class="btn-group">
                                        {% if not is_granted("ROLE_ADMIN") %}
                                            {% if entity.approvedByName is null %}
                                                <a class="btn btn-mini yellow-bg white-font" href="{{ path('kpi_employee_board_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                                <a class="btn btn-transparent btn-mini red-font remove" data-action="{{ path('kpi_employee_board_delete',{'id':entity.id}) }}" href="javascript:"><i class="fa fa-remove"></i></a>
                                            {% endif %}

                                            {% else %}
                                                {% if entity.approvedByName is null %}
                                                    <a class="btn btn-mini yellow-bg white-font" href="{{ path('kpi_employee_board_edit',{'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                                {% endif %}
                                                <a class="btn btn-transparent btn-mini red-font remove" data-action="{{ path('kpi_employee_board_delete',{'id':entity.id}) }}" href="javascript:"><i class="fa fa-remove"></i></a>
                                        {% endif %}

                                        <a class="btn btn-mini btn-info" href="{{ path('kpi_details_report',{'id':entity.id}) }}"><i class="feather icon-file"></i> Details</a>
                                        <a class="btn btn-mini blue-bg white-font" href="{{ path('kpi_report_sales_achivement',{'id':entity.id}) }}"><i class="feather icon-file"></i> Achive</a>
                                        <a class="btn btn-mini purple-bg white-font" href="{{ path('kpi_summary_report',{'id':entity.id}) }}"><i class="feather icon-file"></i> Summary</a>

                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': -1,
    'orderable': false
    }]
    });
{% endblock %}
