{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_markchart') }}">  {{ 'KPI Board'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Element'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_board_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'KPI Board'|trans }}</a>
                            <a href="{{ path('kpi_employee_board_preview',{'id':board.id,'mode':'print'}) }}" class="btn btn-sm yellow-bg white-font"><i class="fa fa-print"></i></a>
                            {#<a href="{{ path('kpi_employee_board_preview',{'id':board.id,'mode':'print'}) }}" class="btn btn-sm purple-bg white-font"><i class="fa fa-download"></i></a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row position-relative">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'Manage KPI Element'|trans }} </div>
                        <a type="button" href="{{ path('kpi_approve',{'id':board.id}) }}" id="statusUpdate" name="statusUpdate" class="btn blue-bg text-white float-right statusUpdate" >Approved</a>

                    </div>
                    <div class="portlet-body form">
                        {# New format #}
                        {#<div class="row">
                            <div class="col-md-2"><img src="{{ asset('assets/images/nourish.jpg') }}" alt=""></div>
                            <div class="col-md-10 text-center"><span class="h5 text-dark"><strong>KPI- for -AGM <br> Year 2021</strong></span></div>
                        </div>#}
                        <style>
                            ul.header-info {
                                margin: 0;
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;
                            }
                            ul.header-info li {
                                list-style: none;
                                width: 50%;
                            }
                        </style>
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                            <tr><th colspan="2" class="text-center">KPI - {{ board.month }},{{ board.year }}</th></tr>
                            <tr>
                                <th>
                                    <ul class="header-info">
                                        <li>Name of the Employee:{{ board.employee.name }}</li>
                                        <li>Date of Joining:{% if board.employee is not empty %}{{ board.employee.joiningDate|date('d-m-Y') }}{% endif %}</li>
                                        <li>Line Manager:{% if board.employee.lineManager is not empty %}{{ board.employee.lineManager.name }}{% endif %}</li>
                                        <li>ZONE:{% if board.employee.zonal is not empty %}{{ board.employee.zonal.name }}{% endif %}</li>
                                    </ul>
                                </th>
                                <th>
                                    <ul class="header-info">
                                        <li>Emp ID:{% if board.employee is not empty %}{{ board.employee.userId }}{% endif %}</li>
                                        <li>Designation:{% if board.employee.designation is not empty %}{{ board.employee.designation.name }}{% endif %}</li>
                                    </ul>
                                </th>
                            </tr>

                            </thead>

                        </table>
                        {# New format END #}
                        <table class="table table-bordered" id="datatable">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Parameter</th>
                                <th scope="col" style="width: 5%;">Activity</th>
                                <th scope="col" style="width: 45%">Attributes</th>
                                <th scope="col">Marks</th>
                                <th scope="col" style="width: 27%">Mark Distribution</th>
                                <th scope="col">Obtain Marks</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if board.employeeBoardAttributes is not empty %}
                                {% for parameters in arrayData %}
                                    {% set count=1 %}
                                    {% for activity in parameters %}
                                        {% set countActity=1 %}
                                        {% for entity in activity %}
                                            <tr>
                                                {% if entity.parameter.status == 1 %}
                                                    {% if(count==1) %}
                                                        <td rowspan="{{ parameters|multiArrayLength }}" class="parameter"><span>{{ entity.parameter.name }}</span></td>
                                                    {% endif %}
                                                    {% if entity.activity.status == 1 %}
                                                        {% if(countActity==1) %}
                                                            <td rowspan="{{ activity|length }}" {#class="parameter"#}><span>{{ entity.activity.name }}</span></td>
                                                        {% endif %}
                                                        {% if entity.attribute.status == 1 %}
                                                            <td>{{ entity.attribute.name }}</td>
                                                            <td>{{ entity.attribute.mark }}</td>
                                                            <td>

                                                                {% if entity.attribute.children is not empty %}
                                                                    {% if entity.attribute.systemEntry == 1 %}
                                                                        <select class="markDistribution" data-id="{{ entity.attribute.id }}" data-action="{{ path('kpi_employee_board_attribute_update',{'id':entity.id}) }}" >
                                                                            <option value="">{{ 'Select mark particular'|trans }}</option>
                                                                            {% for markDistribution in entity.attribute.children %}
                                                                                {% if markDistribution.status == 1 %}
                                                                                <option  value="{{ markDistribution.id }}" {% if  entity.markDistribution is not empty and markDistribution.id ==  entity.markDistribution.id %} selected="selected" {% endif %}>{{ markDistribution.name }}</option>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select>
                                                                    {% else %}

                                                                        <ul class="markDistribution">
                                                                            {% for children in entity.attribute.children %}
                                                                                <li>{{ children.name }}</li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                {% endif %}
                                                            </td>
                                                            <td class="attribute-score" id="markDistribution-{{ entity.attribute.id }}">{{ entity.mark }}</td>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </tr>
                                            {% set countActity=0 %}
                                            {% set count=count+1 %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
<style>
.activity li{

}
.activity li .attribute{

}
.activity li .attribute li .markDistribution{

}

.parameter{
    position: relative;
    /*    border-left: 34px solid #369;
        padding-left: 10px;
        width: 50px;*/
}

.parameter span {
    position: absolute;
    top: 50%;
    /*left: 30px;*/
    background: none;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-50%);
    /*width: 200px;*/
}


.attribute-markDistribution{
    width: 220px;
}

.markDistribution{
    padding-left: 15px;
    width: 220px;
}
.markDistribution li{
    margin-left: 0;
    padding-left: 0;
}

.activity-name{
    width: 120px;
}

.activity-attribute{
    width: 220px;
}
.attribute-name{
    width: 480px;
}
.attribute-mark{
    width: 70px;
}
.attribute-score{
    width: 70px;
}
</style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block javascriptBlock %}
{#    <script>#}
    {{ parent() }}
{#    $(document).on('click',".statusUpdate", function (event) {
    var url = $(this).attr('data-action');
    $.get(url, function(data){
        var redirectUrl = Routing.generate('kpi_employee_board');
        if(data=='success'){
            window.location.href = redirectUrl;
        }
    });
    });#}
{% endblock  %}