{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Evaluation Criteria For CSO'|trans }}</h5>
                <div class="card-header-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                        <a href="{{ path('evaluation_criteria_create') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>Add New</a>
                        <a href="{{ path('evaluation_criteria_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>Records</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-bordered" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th>{{ 'Sl No'|trans }}</th>
                            <th>{{ 'Report'|trans }}</th>
                            <th>{{ 'Target (Reports)'|trans }}</th>
                            <th>{{ 'Target (Marks)'|trans }}</th>
                            <th>{{ 'Type'|trans }}</th>
                            <th class="text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if entities is not empty %}
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ entity.name|default('') }}</td>
                                    <td>{{ entity.reportTarget|default('') }}</td>
                                    <td>{{ entity.marksTarget|default('') }}</td>
                                    <td>{{ entity.type|capitalize|default('') }}</td>
                                    <td class="text-right">
                                        <a class="btn btn-mini yellow-bg white-font" href="{{ path('evaluation_criteria_edit', {'id':entity.id}) }}"><i class="feather icon-edit"></i> Edit</a>
                                        <a class="btn  btn-transparent btn-mini red-font" href="{{ path('evaluation_criteria_delete', {'id':entity.id}) }}"><i class="fa fa-remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar{display: none}
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 10,
    "responsive": false,
    "scrollX": true,
    columnDefs: [
    { orderable: false, targets: -1 }
    ]
    });
{% endblock %}