{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('core_agent_index') }}"> {{ 'Manage Agent'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Agent'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('core_agent_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Agents'|trans }}</a>
                            <a href="?process=createForm&check=new#modal" id="createForm"   data-action="{{ path('core_agent_create') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Agent'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input type="text" class="form-control  input-sm" placeholder="Agent Name" name="name" id="name">
                            </td>
                            <td>
                            <input  type="text" class="form-control  input-sm" name="companyName" id="companyName" placeholder="Company Name"> </td>
                            <td>
                                <input type="text" class="form-control  input-sm" placeholder="Mobile no" name="mobile" id="mobile"> </td>
                            <td colspan="2">
                                <input type="text" class="form-control  input-sm" placeholder="Email" name="email" id="email"> </td></tr>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Company</th>
                            <th scope="col">Agent Group</th>
                            <th scope="col">Location</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Email</th>
                            <th scope="col" class=" text-center"><i class="feather icon-settings"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/agent.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/core/js/ajax-agent.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

