{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('core_agent_index') }}"> {{ 'Manage Agent'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Agent'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('core_agent_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Agents'|trans }}</a>
                            <a href="?process=createForm&check=new#modal" id="createForm"   data-action="{{ path('core_agent_create') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Agent'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <form id="districtSales" method="get" action="{{ path('kpi_agent_sales') }}">
                <div class="card-block">
                    <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input autocomplete="off" type="text" class="form-control  input-sm" placeholder="dd-yyyy" value="{{ selectedMonthYear }}" name="monthYear" id="inputMonth">
                            </td>
                            <td colspan="3">
                                <select data-action="{{ path('core_agent_search_select2') }}" name="agent" class="agentSearch" id=""></select>
                                {#<input data-action="{{ path('core_agent_search_select2') }}" class='form-control col-lg-5 agentSearch' type='text' placeholder='select item' />#}
                            </td>
                            <td colspan="1">
                                <button type="submit" class="btn btn-primary btn-sm" title="Search" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Agent ID</th>
                            <th scope="col">Agent Name</th>
                            <th scope="col">Month</th>
                            <th scope="col">Year</th>
                            <th scope="col">District</th>
                            {% for item in items %}
                            <th scope="col">{{ item.name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in pagination %}
                            <tr>
                                <td class="customerId_{{ entity.customerId }}" scope="col">{{ entity.agentId }}</td>
                                <td scope="col">{{ entity.agentName }}</td>
                                <td scope="col">{{ entity.month }}</td>
                                <td scope="col">{{ entity.year }}</td>
                                <td scope="col">{{ entity.districtName }}</td>
                                {% for item in items %}
                                    <td class="productId_{{ item.id }}" scope="col">
                                        {% set salesItemId = entity.customerId~'-'~item.id %}
                                        {{ agentSalesQty[entity.year][entity.month][entity.customerId][item.id]['quantity']|default('') }}
                                       {#{% if salesItems.salesItemId is not empty %} {{ salesItems.salesItemId }}{% endif %}#}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation" style="padding-right: 0;">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar{display: none}
/*        .pagination span.page a, .pagination span.next a, .pagination span.last a, .pagination span.first a, .pagination span.previous a {
            padding: 5px 10px;
            border: 1px solid #ccc;
        }
        .pagination span.current {
            padding: 5px 10px;
            background: #0442ba;
            color: #fff;
            margin-top: -5px;
        }*/
        .pagination{
            float: right;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>

{% endblock  %}
{#<script>#}
{% block documentready %}
    {{ parent() }}
$('.agentSearch').select2({

    ajax: {
        url: Routing.generate('core_agent_search_select2'),
        dataType: 'json',
        delay: 250,
        type: 'GET',
        data: function (params) {

            return {
                q: params.term, // search term
            };
        },
        processResults: function (data) {
            var arr = []
    {#console.log(data);#}
            $.each(data, function (index, value) {
                arr.push({
                    id: index,
                    text: value
                })
            })
            return {
                results: arr
            };
        },
        cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1
});
    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });
{% endblock %}

