{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    {#    {{ dump(entity.employee.reportMode.slug) }}#}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                        <li class="breadcrumb-item"><a href="javascript:">{{ 'Employee KPI Summary'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Summary for '|trans }}: {{ entity.employee.name }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i
                                        class="fa fa-th-list"></i>{{ 'Employee Board'|trans }}</a>
                            <a href="{{ path('kpi_details_report',{'id':entity.id}) }}"
                               class="btn btn-sm green-bg white-font"><i
                                        class="fa fa-th-list"></i>{{ 'KPI Details'|trans }}</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'KPI Summary for '|trans }}: {{ entity.employee.name }} </div>
                    </div>
                    <div class="portlet-body form text-dark">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Employee Name'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{{ entity.employee.name }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Month & Year'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{{ entity.month }},{{ entity.year }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Designation'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{{ entity.employee.designation.name }}</label>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label"><strong>{{ 'Working Area'|trans }}</strong></label>
                                    <label class="col-md-10 control-label">{% for district in entity.employee.district %}{{ district.name }}{% if not loop.last %},{% endif %} {% endfor %}</label>
                                </div>
                                {% if entity.employee.department is not empty %}
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"><strong>{{ 'Department'|trans }}</strong></label>
                                        <label class="col-md-10 control-label">{{ entity.employee.department.name }}</label>
                                    </div>
                                {% endif %}
                            </div>
                            {% if feedAndGrowth is not empty %}
                                {% for key, item in feedAndGrowth %}
                                        <h5 class="bg-secondary p-1 text-white h5 w-100">{{ key == 'feed' ? 'Sales Feed Achivement' : 'Product Sales Growth' }}</h5>
                                        <table class="table table-striped table-bordered table-hover" id="datatable">
                                            <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">{{ 'Mark Parameter'|trans }}</th>
                                                <th scope="col" width="20%">{{ key == 'feed' ? 'Target Quantity' : 'Previous Year' }}</th>
                                                <th scope="col" width="20%">{{ 'Sales Quantity'|trans }}</th>
                                                <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                                                <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if item is not empty %}
                                                {% for attribute in item %}
                                                    <tr>
                                                        <td>{{ attribute.markParameter|default('') }}</td>
                                                        <td>{{ attribute.targetQuantity|default('') }}</td>
                                                        <td>{{ attribute.salesQuantity|default('') }}</td>
                                                        <td>{{ attribute.percentage|number_format(2) }} %</td>
                                                        <td>{{ attribute.mark|default('') }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                {% endfor %}
                            {% endif %}
                            <h5 class="h5 bg-secondary p-1 text-white w-100">Outstanding</h5>
                            <table class="table table-striped table-bordered table-hover" id="datatable">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'District'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Actual Amount'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Limit Amount'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                                    <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if outstanding is not empty %}
                                    {% for key, amount in outstanding %}
                                        <tr>
                                            <td>{{ key|default() }}</td>
                                            <td>{{ amount.actualAmount|number_format(2,'.', ',')|default() }}</td>
                                            <td>{{ amount.limitAmount|number_format(2,'.',',')|default() }}</td>
                                            <td>{{ amount.percentage|number_format(2,'.')|default() }} %</td>
                                            <td>{{ amount.mark|default() }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>

                            <h5 class="h5 bg-secondary p-1 text-white w-100">DOC sales collection</h5>
                            <table class="table table-striped table-bordered table-hover" id="datatable">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">{{ 'District'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Sales Amount'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Total Collection Amount'|trans }}</th>
                                    <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                                    <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if docSale is not empty %}
                                    {% for key, amount in docSale %}
                                        <tr>
                                            <td>{{ key|default() }}</td>
                                            <td>{{ amount.totalSalesAmount|number_format(2,'.', ',')|default() }}</td>
                                            <td>{{ amount.totalCollectionAmount|number_format(2,'.',',')|default() }}</td>
                                            <td>{{ amount.percentage|number_format(2,'.')|default() }} %</td>
                                            <td>{{ amount.mark|default() }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                            {% if entity.employee.reportMode.slug == 'spo-format' %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">Minimum 50% "D" category agents
                                    converts to "C"</h5>
                                <table class="table table-striped table-bordered table-hover" style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Previous "D" Category Agents: '|trans }} {{ dCategoryUpgrade.totalAgent|default(0) }}</th>
                                        <th scope="col">{{ '50% "D" Category Agents: '|trans }} {{ (dCategoryUpgrade.totalAgent / 2)|round }}</th>
                                        <th scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ dCategoryUpgrade.totalUpgradeAgent|default(0) }}</th>
                                        <th scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                                            {% if dCategoryUpgrade.totalAgent > 0 %}
                                                {{ ((dCategoryUpgrade.totalUpgradeAgent * 100) / (dCategoryUpgrade.totalAgent / 2)|round)|number_format(2) }} %
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Category'|trans }}</th>
                                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                                        <th scope="col">{{ 'Region'|trans }}</th>
                                        <th scope="col">{{ 'Zone'|trans }}</th>
                                        <th scope="col">{{ 'Average'|trans }}</th>
                                        {% if dCategoryUpgrade is not empty %}
                                            {% for entity in dCategoryUpgrade %}
                                                {% if entity is iterable and loop.index == 1 %}
                                                    <th scope="col">{{ entity.month|default('') }} (Avg.)</th>
                                                    <th scope="col">{{ 'Category'|trans }} {{ entity.year|default('') }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if dCategoryUpgrade is not empty %}
                                        {% for row in dCategoryUpgrade %}
                                            {% if row is iterable %}
                                                <tr>
                                                    <td>{{ row.decemberGrade|default('') }}</td>
                                                    <td>{{ row.agentId|default('') }}</td>
                                                    <td>{{ row.agentName|default('') }}</td>
                                                    <td>{{ row.agentRegionName|default('') }}</td>
                                                    <td>{{ row.agentZoneName|default('') }}</td>
                                                    <td>{{ row.decemberAvg|round|default('') }}</td>
                                                    <td>{{ row.currentMonthAvg|round|default('') }}</td>
                                                    <td>{{ row.currentMonthGrade|default('') }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}

                            {% if entity.employee.reportMode.slug == 'spo-format' %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">Minimum 50 % "C" category agents
                                    converts to "B"</h5>
                                <table class="table table-striped table-bordered table-hover" style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Previous "C" Category Agents: '|trans }} {{ cCategoryUpgrade.totalAgent|default(0) }}</th>
                                        <th scope="col">{{ '50% "C" Category Agents: '|trans }} {{ (cCategoryUpgrade.totalAgent / 2)|round }}</th>
                                        <th scope="col">{{ 'Category Upgrade Agents: '|trans }} {{ cCategoryUpgrade.totalUpgradeAgent|default(0) }}</th>
                                        <th scope="col">{{ 'Category Upgrade Percentage: '|trans }}
                                            {% if cCategoryUpgrade.totalAgent > 0 %}
                                                {{ ((cCategoryUpgrade.totalUpgradeAgent * 100) / (cCategoryUpgrade.totalAgent / 2)|round)|number_format(2) }} %
                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Category'|trans }}</th>
                                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                                        <th scope="col">{{ 'Region'|trans }}</th>
                                        <th scope="col">{{ 'Zone'|trans }}</th>
                                        <th scope="col">{{ 'Average'|trans }}</th>
                                        {% if cCategoryUpgrade is not empty %}
                                            {% for entity in cCategoryUpgrade %}
                                                {% if entity is iterable and loop.index == 1 %}
                                                    <th scope="col">{{ entity.month|default('') }} (Avg.)</th>
                                                    <th scope="col">{{ 'Category'|trans }} {{ entity.year|default('') }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if cCategoryUpgrade is not empty %}
                                        {% for row in cCategoryUpgrade %}
                                            {% if row is iterable %}
                                                <tr>
                                                    <td>{{ row.decemberGrade|default('') }}</td>
                                                    <td>{{ row.agentId|default('') }}</td>
                                                    <td>{{ row.agentName|default('') }}</td>
                                                    <td>{{ row.agentRegionName|default('') }}</td>
                                                    <td>{{ row.agentZoneName|default('') }}</td>
                                                    <td>{{ row.decemberAvg|round|default('') }}</td>
                                                    <td>{{ row.currentMonthAvg|round|default('') }}</td>
                                                    <td>{{ row.currentMonthGrade|default('') }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}
                            {% if (entity.employee.reportMode.slug == 'agm-kpi' or entity.employee.reportMode.slug == 'rsm-arsm-kpi') %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">Team members ach(=100%) mark on core
                                    activities</h5>
                                <table class="table table-striped table-bordered table-hover" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Employee'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Actual Mark'|trans }}</th>
                                        <th scope="col" width="10%">{{ 'Mark'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if individualTeamMemberMarks is not empty %}
                                        {% for key, member in individualTeamMemberMarks %}
                                            <tr>
                                                <td>{{ key|capitalize|default('') }}</td>
                                                <td>{{ member.actualMark|default('') }}</td>
                                                <td>{{ member.mark|default('') }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}

                            {% if entity.employee.reportMode.slug == 'agm-kpi' %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">All Regional Achievement status on
                                    Total Feed</h5>
                                <table class="table table-striped table-bordered table-hover" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Region'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Total Target Quantity'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Total Achieve Quantity'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                                        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if regionalAchievement is not empty %}
                                        {% for key, amount in regionalAchievement %}
                                            <tr>
                                                <td>{{ key|default() }}</td>
                                                <td>{{ amount.targetQuantity|number_format(2,'.', ',')|default() }}</td>
                                                <td>{{ amount.achieveQuantity|number_format(2,'.',',')|default() }}</td>
                                                <td>{{ amount.percentage|number_format(2,'.')|default() }} %</td>
                                                <td>{{ amount.mark|default() }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}

                            {% if (entity.employee.reportMode.slug == 'agm-kpi' or entity.employee.reportMode.slug == 'rsm-arsm-kpi') %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">All District Achievement on Total
                                    Feed</h5>
                                <table class="table table-striped table-bordered table-hover" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'District'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Total Target Quantity'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Total Achieve Quantity'|trans }}</th>
                                        <th scope="col" width="20%">{{ 'Percentage'|trans }}</th>
                                        <th scope="col" width="10%">{{ 'Marks'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if districtAchievement is not empty %}
                                        {% for key, amount in districtAchievement %}
                                            <tr>
                                                <td>{{ key|default() }}</td>
                                                <td>{{ amount.targetQuantity|number_format(2,'.', ',')|default() }}</td>
                                                <td>{{ amount.achieveQuantity|number_format(2,'.',',')|default() }}</td>
                                                <td>{{ amount.percentage|number_format(2,'.')|default() }} %</td>
                                                <td>{{ amount.mark|default() }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center">{{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}


                            {% if (entity.employee.reportMode.slug == 'spo-format' or entity.employee.reportMode.slug == 'aqua-service' or entity.employee.reportMode.slug == 'cattle-service') %}
                                <h5 class="h5 bg-secondary p-1 text-white w-100">Agents Sales 20% Growth (Only for permanent agents: Will consider same period from previous year)</h5>
                                <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>{{ 'Total Agent:' }} {{ twentyPercentGrowthAgentSalesDetails.totalAgent|default(0) }}</th>
                                        <th>{{ 'Total Growth Agent:' }} {{ twentyPercentGrowthAgentSalesDetails.growthAgent|default(0) }}</th>
                                        <th>{{ '20% Growth Agent:' }} {{ twentyPercentGrowthAgentSalesDetails.twentyPercentGrowthAgents|default(0) }}</th>
                                        <th>{{ '20% growth Agent percentage:' }}
                                            {% if twentyPercentGrowthAgentSalesDetails.totalAgent > 0 %}
                                                {{ ((twentyPercentGrowthAgentSalesDetails.twentyPercentGrowthAgents * 100) / twentyPercentGrowthAgentSalesDetails.totalAgent)|number_format(2) }} %

                                            {% endif %}
                                        </th>
                                    </tr>
                                    </thead>
                                </table>
                                    <table class="table table-striped table-bordered table-hover"
                                       style="margin-top: 0px !important;" id="datatable">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">{{ 'Agent Id'|trans }}</th>
                                        <th scope="col">{{ 'Agent Name'|trans }}</th>
                                        <th scope="col">{{ 'Address'|trans }}</th>
                                        <th scope="col">{{ 'Total Sales'|trans }} ({{ (entity.year)-1 }})</th>
                                        <th scope="col">{{ 'Total Sales'|trans }} ({{ entity.year }})</th>
                                        <th scope="col">{{ 'Growth'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if twentyPercentGrowthAgentSalesDetails is not empty %}
                                        {% for agentId, details in twentyPercentGrowthAgentSalesDetails %}
                                            {% if details is iterable %}
                                                {% set prevYearSale = details[entity.year-1]|number_format(2) %}
                                                {% set currentYearSale = details[entity.year]|number_format(2) %}
                                                <tr>
                                                    <td>{{ agentId|default('') }}</td>
                                                    <td>{{ details.agentName|default('') }}</td>
                                                    <td>{{ details.agentAddress|default('') }}</td>
                                                    <td>{{ details[entity.year-1]|number_format(2) }}</td>
                                                    <td>{{ details[entity.year]|number_format(2) }}</td>
                                                    <td>{{ (((currentYearSale - prevYearSale) * 100) / prevYearSale)|number_format(2) }}
                                                        %
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="10" align="center"> {{ 'No record found!'|trans }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .activity li {

        }

        .activity li .attribute {

        }

        .activity li .attribute li .markDistribution {

        }

        .parameter {
            position: relative;
            border-left: 34px solid #369;
            padding-left: 10px;
            width: 50px;
        }

        .parameter span {
            position: absolute;
            top: 50%;
            left: 30px;
            background: none;
            transform-origin: 0 0;
            transform: rotate(-90deg);
            width: 200px;
        }


        .attribute-markDistribution {
            width: 220px;
        }

        .markDistribution {
            padding-left: 15px;
            width: 220px;
        }

        .markDistribution li {
            margin-left: 0;
            padding-left: 0;
        }

        .activity-name {
            width: 120px;
        }

        .activity-attribute {
            width: 220px;
        }

        .attribute-name {
            width: 480px;
        }

        .attribute-mark {
            width: 70px;
        }

        .attribute-score {
            width: 70px;
        }
    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}