{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Employee KPI Summary'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Summary for '|trans }}: {{ board.employee.name }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_employee_board') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Employee Board'|trans }}</a>
                            <a href="{{ path('kpi_details_report',{'id':board.id}) }}" class="btn btn-sm green-bg white-font"><i class="fa fa-th-list"></i>{{ 'KPI Details'|trans }}</a>
                            <a href="{{ path('kpi_summary_report_print',{'id':board.id}) }}" target="_blank" class="btn btn-sm yellow-bg white-font"><i class="fa fa-print"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption">{{ 'KPI Summary for '|trans }}: {{ board.employee.name }} </div>
                    </div>
                      <div class="portlet-body form">
                        <div class="row form-body">
                            <div class="portlet-title">
                                <div class="caption">{{ 'Manage KPI Details for '|trans }} : {{ board.employee.name }}</div>
                            </div>
                            <style>
                                .list-unstyled li {
                                    color: #2b2e38;
                                }
                                ul.header-info {
                                    margin: 0;
                                    padding: 0;
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                                ul.header-info li {
                                    list-style: none;
                                    width: 50%;
                                }
                            </style>
                            <div class="portlet-body form">
                                <div class="row form-body">
                                    <table class="table table-striped table-bordered">
                                        <thead class="thead-dark">
                                        <tr><th colspan="2" class="text-center">KPI- {{ board.month }}, {{ board.year }}</th></tr>
                                        <tr>
                                            <th>
                                                <ul class="header-info">
                                                    <li>Name of the Employee: {{ board.employee.name }}</li>
                                                    <li>Date of Joining: {% if board.employee is not empty %}{{ board.employee.joiningDate|date('d-m-Y') }}{% endif %}</li>
                                                    <li>Line Manager: {% if board.employee.lineManager is not empty %}{{ board.employee.lineManager.name }}{% endif %}</li>
                                                    <li>ZONE: {% if board.employee.zonal is not empty %}{{ board.employee.zonal.name }}{% endif %}</li>
                                                </ul>
                                            </th>
                                            <th>
                                                <ul class="header-info">
                                                    <li>Emp ID: {% if board.employee is not empty %}{{ board.employee.userId }}{% endif %}</li>
                                                    <li>Designation: {% if board.employee.designation is not empty %}{{ board.employee.designation.name }}{% endif %}</li>
                                                </ul>
                                            </th>
                                        </tr>

                                        </thead>

                                    </table>
                                    {# New format END #}
{#                                    {{ dump(entities) }}#}
                                    {% if entities is not empty and entities is iterable %}
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead class="thead-dark">

                                            <tr>
                                                <th scope="col" style="width: 22%; text-align: center">Parameter</th>
                                                <th scope="col">Activity</th>
                                                <th scope="col"style="text-align: center">Marks</th>
                                                <th scope="col"style="text-align: center">Obtain Marks</th>
                                                <th scope="col"style="text-align: center">%</th>
                                                <th scope="col"style="text-align: center">Grade</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                                {% set totalMarkPercentage = (totalObtainMark * 100) / totalActualMark %}

                                                {% for key, activities in entities %}
                                                    {% for activity in activities %}
                                                        {% set markPercentage = (activity.mark * 100) / activity.actualMark %}
                                                        <tr>
                                                            {% if(loop.index==1) %}
                                                            <td rowspan="{{ activities|length }}">{{ key }}</td>
                                                            {% endif %}
                                                            <td>{{ activity.activityName }}</td>
                                                            <td>{{ activity.actualMark }}</td>
                                                            <td>{{ activity.mark }}</td>
                                                            <td>{{ markPercentage|number_format(2) }}</td>

                                                            {% if (loop.parent.loop.first) and loop.first %}
                                                                <td style="text-align: center; font-size: 35px; font-weight: 900" rowspan="{{ (entities|multiArrayLength) + 1 }}">
                                                                    {% set grade='' %}
                                                                    {% if totalMarkPercentage >= 80 %}
                                                                        {% set grade='A' %}
                                                                    {% elseif totalMarkPercentage >= 75 and totalMarkPercentage < 80 %}
                                                                        {% set grade='B+' %}
                                                                    {% elseif totalMarkPercentage >= 70 and totalMarkPercentage < 75 %}
                                                                        {% set grade='B' %}
                                                                    {% elseif totalMarkPercentage >= 65 and totalMarkPercentage < 70 %}
                                                                        {% set grade='C' %}
                                                                    {% elseif totalMarkPercentage < 65 %}
                                                                        {% set grade='D' %}
                                                                    {% endif %}
                                                                    {{ grade }}
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                                <tr>
                                                    <td colspan="2" align="center"><b>All Total</b></td>
                                                    <td><b>{{ totalActualMark|number_format(2) }}</b></td>
                                                    <td><b>{{ totalObtainMark|number_format(2) }}</b></td>
                                                    <td><b>{{ totalMarkPercentage|number_format(2) }}</b></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="6" class="text-center" style="padding: 10px; font-weight: 700;">Grade (A=>80%, B+=75-79%,  B=70%-74%,  C=65%-70%,  D<65%)</th>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                      </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
<style>
.activity li{

}
.activity li .attribute{

}
.activity li .attribute li .markDistribution{

}

.parameter{
    position: relative;
    border-left: 34px solid #369;
    padding-left: 10px;
    width: 50px;
}

.parameter span {
    position: absolute;
    top: 50%;
    left: 30px;
    background: none;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    width: 200px;
}


.attribute-markDistribution{
    width: 220px;
}

.markDistribution{
    padding-left: 15px;
    width: 220px;
}
.markDistribution li{
    margin-left: 0;
    padding-left: 0;
}

.activity-name{
    width: 120px;
}

.activity-attribute{
    width: 220px;
}
.attribute-name{
    width: 480px;
}
.attribute-mark{
    width: 70px;
}
.attribute-score{
    width: 70px;
}
</style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}