{% extends 'base-pdf.html.twig' %}
{% block body %}
    <div style="text-align: center">
        <p class="title-h5">NOURISH POULTRY AND HATCHERY LTD</p>
        <p class="title-h5">UTTARA, DHAKA.</p>
        <p>{{ 'KPI Team Member Summary for '|trans }}: {{ app.user.name }}</p>
        <p>{{ filterBy }}</p>
    </div>
    <div>
        <table cellpadding="0" cellspacing="0" border="1">
            <thead>
            <tr>
                <th>Employee</th>
                <th>Designation</th>
                {% if teamMemberSummary is not empty %}
                    {% for details in teamMemberSummary %}
                        {% if loop.first %}
                            {% for activity, obtainMark in details %}
                                {% if activity != 'boardId' and activity != 'Designation' %}
                                    <th>{{ activity }}</th>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <th>Mark</th>
                <th>Grade</th>
            </tr>
            </thead>
            <tbody>

            {% if teamMemberSummary is not empty %}
                {% for employeeName, details in teamMemberSummary %}
                    {% set totalObtainMark = 0 %}
                    <tr>
                        <td>{{ employeeName }}</td>
                        <td>{{ details.Designation }}</td>
                        {% for activity, obtainMark in details %}
                            {% if activity != 'boardId' and activity != 'Designation' %}
                                {% set totalObtainMark = totalObtainMark + obtainMark %}
                                <td>{{ obtainMark|default(0) }}</td>
                            {% endif %}
                        {% endfor %}

                        <td>{{ totalObtainMark }}</td>

                        {% set grade='' %}
                        {% if totalObtainMark >= 80 %}
                            {% set grade='A' %}
                        {% elseif totalObtainMark >= 75 and totalObtainMark < 80 %}
                            {% set grade='B+' %}
                        {% elseif totalObtainMark >= 70 and totalObtainMark < 75 %}
                            {% set grade='B' %}
                        {% elseif totalObtainMark >= 65 and totalObtainMark < 70 %}
                            {% set grade='C' %}
                        {% elseif totalObtainMark < 65 %}
                            {% set grade='D' %}
                        {% endif %}

                        <td>{{ grade }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
            <tfoot>
        </table>
    </div>
{% endblock %}