{% extends 'admin/layout.html.twig' %}
{% block body_id 'kpi_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('kpi_employee_board') }}">  {{ 'KPI Employee Board'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Team Member Summary'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'KPI Team Member Summary for '|trans }}: {{ app.user.name }}</h5>
                    <div class="card-header-right">
                        {% if teamMemberSummary is not empty %}
                            <div class="btn-group btn-group-sm float-right" role="group" aria-label="Button group with nested dropdown">
                                <a href="{{ path('team_member_summary',{mode: 'pdf', monthYear: filterBy}) }}" target="_blank" class="btn blue-bg white-font btn-sm"><i class="fa fa-file-pdf"></i> PDF</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% if not is_granted('ROLE_ADMIN') %}
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-4 offset-4">
                            <form id="teamMemberSummerySearchForm" action="{{ path('team_member_summary') }}" method="GET">
                                <table class="table table-striped table-bordered table-hover dataTable">
                                    <thead class="thead-dark">
                                    <tr role="row" class="filter">
    {#                                        <td colspan="2">
                                                <select name="" id="" class="form-control select2">
                                                    <option value="">Employee1</option>
                                                    <option value="">Employee2</option>
                                                    <option value="">Employee3</option>
                                                </select>
                                            </td>#}
                                        <td colspan="2">
                                            <input autocomplete="off" type="text" class="form-control input-sm" placeholder="mm-yyyy" value="{{ filterBy ?: '' }}" name="monthYear" id="inputMonth">
                                        </td>

                                        <td colspan="1">
                                            <button type="submit" class="btn btn-primary btn-sm btn-block" title="Search" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    </thead>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if teamMemberSummary is not empty %}
            <div class="row">
                <div class="card">
                    <div class="card-header pt-0 pb-0">
                        <p class="btn green-bg white-font" style="cursor: auto;">{{ filterBy }}</p>
                    </div>
                    <div class="card-body pt-0">
                        <table class="table table-striped table-bordered table-hover" width="100%">
                            <thead class="thead-dark">
                            <tr>
                                <th>Employee</th>
                                <th>Designation</th>
                                {% if teamMemberSummary is not empty %}
                                    {% for details in teamMemberSummary %}
                                        {% if loop.first %}
                                            {% for activity, obtainMark in details %}
                                                {% if activity != 'boardId' and activity != 'Designation' %}
                                                    <th>{{ activity }}</th>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <th>Mark</th>
                                <th>Grade</th>
                                <th><i class="feather icon-settings"></i></th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if teamMemberSummary is not empty %}
                                {% for employeeName, details in teamMemberSummary %}
                                    {% set totalObtainMark = 0 %}
                                    <tr>
                                        <td>{{ employeeName }}</td>
                                        <td>{{ details.Designation }}</td>
                                        {% for activity, obtainMark in details %}
                                            {% if activity != 'boardId' and activity != 'Designation' %}
                                                {% set totalObtainMark = totalObtainMark + obtainMark %}
                                                <td>{{ obtainMark|default(0) }}</td>
                                            {% endif %}
                                        {% endfor %}

                                        <td>{{ totalObtainMark }}</td>

                                        {% set grade='' %}
                                        {% if totalObtainMark >= 80 %}
                                            {% set grade='A' %}
                                        {% elseif totalObtainMark >= 75 and totalObtainMark < 80 %}
                                            {% set grade='B+' %}
                                        {% elseif totalObtainMark >= 70 and totalObtainMark < 75 %}
                                            {% set grade='B' %}
                                        {% elseif totalObtainMark >= 65 and totalObtainMark < 70 %}
                                            {% set grade='C' %}
                                        {% elseif totalObtainMark < 65 %}
                                            {% set grade='D' %}
                                        {% endif %}

                                        <td>{{ grade }}</td>
                                        <td align="right">
                                            <div class="btn-group">
                                                <a class="btn btn-mini btn-info" target="_blank" href="{{ path('kpi_details_report', {id:details.boardId}) }}"><i class="feather icon-file"></i> Details</a>
                                                <a class="btn btn-mini purple-bg white-font" target="_blank" href="{{ path('kpi_summary_report', {id:details.boardId}) }}"><i class="feather icon-file"></i> Summary</a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
     <style>
         .ui-datepicker-calendar{display: none}
     </style>
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });
{% endblock %}