{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Doc Sales VS Collection'|trans }}</h5>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <form id="docSalesCollection" method="get" action="{{ path('kpi_doc_sales_collection') }}">

                <div class="card-block">
                    <div class="row">
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input autocomplete="off" type="text" class="form-control  input-sm" placeholder="mm-yyyy" value="{{ selectedMonthYear }}" name="monthYear" id="inputMonth">
                            </td>
                            <td colspan="2">
                                <select data-action="{{ path('core_agent_search_select2') }}" name="agent" class="agentSearch" id=""></select>
                                {#<input data-action="{{ path('core_agent_search_select2') }}" class='form-control col-lg-5 agentSearch' type='text' placeholder='select item' />#}
                            </td>

                            <td colspan="1">
                                <button type="submit" class="btn btn-primary btn-sm" title="Search" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">SL</th>
                            <th scope="col">Agent Name</th>
                            <th scope="col">District Name</th>
                            <th scope="col">Sales</th>
                            <th scope="col">Collection</th>
                            <th scope="col">Month</th>
                            <th scope="col">Year</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if entities is not empty %}
                            {% for entity in entities %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ entity.agentName|default('') }}</td>
                                    <td>{{ entity.districtName|default('') }}</td>
                                    <td>{{ entity.sales|round|default('') }}</td>
                                    <td>{{ entity.collection|round|default('') }}</td>
                                    <td>{{ entity.month|default('') }}</td>
                                    <td>{{ entity.year|default('') }}</td>
                                </tr>
                            {% endfor %}
                        {% else %}
{#                        <tr>
                            <td colspan="7" style="text-align: center">{{ 'No record Found for '|trans }}{{ monthYear|join(', ') }}</td>
                        </tr>#}
                        {% endif %}
                        </tbody>
                    </table>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ entities.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation" style="padding-right: 0;">
                            {{ knp_pagination_render(entities) }}
                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar{display: none}
        .pagination{
            float: right;
        }
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/core/js/app.js') }}"></script>

{% endblock  %}
{% block documentready %}
{#    <script>#}
    {{ parent() }}

    $('.agentSearch').select2({

        ajax: {
        url: Routing.generate('core_agent_search_select2'),
        dataType: 'json',
        delay: 250,
        type: 'GET',
        data: function (params) {

        return {
        q: params.term, // search term
        };
        },
        processResults: function (data) {
        var arr = []
        {#console.log(data);#}
        $.each(data, function (index, value) {
        arr.push({
        id: index,
        text: value
        })
        })
        return {
        results: arr
        };
        },
        cache: true
        },
        escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 1
    });

    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });
{% endblock %}

