{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a
                                    href="{{ path('kpi_agent_category_index') }}"> {{ 'Agents Grade'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Agents Grade'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('kpi_agent_category_index') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Agents Grade'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    {% if entities is not empty %}
                        {% for entity in entities %}
                            {% if loop.index == 1 %}
                                <h4 class="text-center"> {{ entity.month|default('') ~ '-' ~ entity.year|default('')}}</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        <div class="col">
                            <form class="form-inline border" method="get" action="{{ path('kpi_month_wise_agent_grade') }}">
                                <table width="100%">
                                    <thead>
                                    <tr>
                                        <td width="14%"><input autocomplete="off" type="text" class="form-control  input-sm" placeholder="mm-yyyy" value="{{ selectedMonthYear|default('') }}" name="monthYear" id="inputMonth"></td>
                                        <td width="30%"><select data-action="{{ path('district_search_select2') }}" name="district" class="districtSearch" id=""></select></td>
                                        <td><button type="submit" class="btn btn-primary btn-sm" title="Search" value="Search"><i class="fa fa-search" aria-hidden="true"></i></button></td>
                                    </tr>
                                    </thead>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover" style="margin-top: 0px !important;" id="datatable">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Category</th>
                                    <th scope="col">Agent Id</th>
                                    <th scope="col">Agent Name</th>
                                    <th scope="col">District</th>
                                    <th scope="col">Region</th>
                                    <th scope="col">Zone</th>
                                    <th scope="col">Average</th>
                                    {% if entities is not empty %}
                                        {% for entity in entities %}
                                            {% if loop.index == 1 %}
                                                <th scope="col">{{ entity.month|default('') }} (Avg.)</th>
                                                <th scope="col">Category {{ entity.year|default('') }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                </tr>
                                </thead>
                                <tbody>

                                {% if entities is not empty %}
                                    {% for entity in entities %}
                                        <tr>
                                            <td>{{ prevYearGradeAndAverage[entity.agentId].grade|default('') }}</td>
                                            <td>{{ entity.agentId|default('') }}</td>
                                            <td>{{ entity.agentName|default('') }}</td>
                                            <td>{{ entity.agentDistrictName|default('') }}</td>
                                            <td>{{ entity.agentRegionName|default('') }}</td>
                                            <td>{{ entity.agentZoneName|default('') }}</td>
                                            <td>{{ prevYearGradeAndAverage[entity.agentId].average|default(0)|number_format(2) }}</td>
                                            <td>{{ entity.average|number_format(2)|default('') }}</td>
                                            <td>{{ entity.grade|default('') }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar {
            display: none
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock %}
{% block documentready %}
    {{ parent() }}

{#    <script>#}


    $('.districtSearch').select2({

    ajax: {
{#    url: Routing.generate('district_search_select2'),#}
    url: $('.districtSearch').attr('data-action'),
    dataType: 'json',
    delay: 250,
    type: 'GET',
    data: function (params) {

    return {
    q: params.term, // search term
    };
    },
    processResults: function (data) {
    var arr = []
    {#console.log(data);#}
    $.each(data, function (index, value) {
    arr.push({
    id: index,
    text: value
    })
    })
    return {
    results: arr
    };
    },
    cache: true
    },
    escapeMarkup: function (markup) { return markup; },
    minimumInputLength: 1
    });

    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });

    $('#datatable').DataTable({
    pageLength: 50,
    });

{% endblock %}
