{% extends 'admin/layout.html.twig' %}

{% block body %}

{#    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>{{ 'Manage Import File'|trans }}</h5>
            </div>
        </div>
    </div>#}
    <div class="row">
        <div class="col-md-9">
            <div class="card p-3">
                <table class="table table-bordered table-striped" id="datatable">
                    <thead class="thead-dark">
                    <tr>
                        <th width="40" class="text-center">{{ 'S/N'|trans }}</th>
                        <th>{{ 'Title'|trans }}</th>
                        <th>{{ 'File Name'|trans }}</th>
                        <th>{{ 'Month'|trans }}</th>
                        <th width="100" class="text-center">{{ 'Status'|trans }}</th>
                        <th width="10%">{{ 'Created Date'|trans }}</th>
                        <th class="text-center" width="100"><i class="feather icon-settings"></i></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if entities is not empty %}
                        {% for entity in entities %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td>{{ entity.title|capitalize|default('') }}</td>
                                <td><a href="{{ asset('/uploads/excel/' ~ entity.fileName) }}" download>{{ entity.fileName|default('') }}</a></td>
                                <td>{{ entity.monthYear|default('') }}</td>
                                <td class="text-center">{{ entity.status > 0 ? 'Yes' : 'No' }}</td>
                                <td class="text-center">{{ entity.createdAt|date('d-m-Y') }}</td>
                                <td class="text-right">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        {% if entity.title|replace({' ': "-"})|lower == 'agent-sales' and (entity.status == 1 or entity.status == 2) %}
                                            <a class="btn btn-mini bg-success white-font" href="{{ path('kpi_insert_data_district_wise',{'id':entity.id}) }}"><i class="feather icon-upload"></i> Migrate</a>
                                            <a class="btn btn-mini bg-secondary white-font" href="{{ path('kpi_insert_agent_category',{'id':entity.id}) }}"><i class="feather icon-upload"></i>Grade Change</a>

                                        {% endif %}

{#                                        {% if entity.title|replace({' ': "-"})|lower == 'agent-sales' and entity.status == 2 %}
                                            <a class="btn btn-mini bg-secondary white-font" href="{{ path('kpi_insert_agent_category',{'id':entity.id}) }}"><i class="feather icon-upload"></i> ImportAgentCategory</a>
                                        {% endif %}#}

                                        {% if entity.status == 0 %}
                                            <a class="btn btn-mini bg-primary white-font" href="{{ path('kpi_file_upload_insert_data',{'id':entity.id}) }}"><i class="feather icon-upload"></i> Import</a>
                                        {% endif %}
                                        <a data-action="{{ path('kpi_file_upload_file_delete',{'id':entity.id}) }}" class="btn  btn-transparent btn-mini red-font remove" href="javascript:"><i class="fa fa-remove"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td colspan="6" class="text-center font-weight-bold">{{ "No record Found!"|trans }}</td>
                            </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
{#                <div class="card-header text-white text-center text-uppercase font-weight-bold" style="background: #3699FF">
                    <p class="mb-0">{{ 'Add New File'|trans }}</p>
                </div>#}
                <div class="card-body">

                    {{ form_start(form) }}

                    {{ form_label(form.title,'Title:') }}
                    {{ form_widget(form.title,{'attr':{'class':'mb-3'}}) }}
                    {{ form_label(form.monthYear,'Month:') }}
                    {{ form_widget(form.monthYear,{'id':'inputMonth','attr':{'class':'mb-3'}}) }}
                    {{ form_label(form.UploadFile,'Upload File Here:') }}
                    {{ form_widget(form.UploadFile,{'attr':{'class':'form-control','style':'padding-top: 7px !important; padding-bottom: 30px !important;'}}) }}
                    {{ form_help(form.UploadFile,{'help_attr':{'class':'text-secondary'}}) }}
                    {{ form_widget(form.Submit,{'attr':{'class':'btn btn-block btn-info mt-3'},'label':'Upload'}) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block cssBlock %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
    <style>
        .ui-datepicker-calendar{display: none}
    </style>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

    $('#inputMonth').datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat: 'MM,yy',

    onClose: function() {
    var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
    var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    },

    beforeShow: function() {
    if ((selDate = $(this).val()).length > 0)
    {
    iYear = selDate.substring(selDate.length - 4, selDate.length);
    iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));
    $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
    $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
    }
    }
    });

    $('#datatable').DataTable( {
    pageLength: 100,
    columnDefs: [ {
    targets: -1,
    orderable: false
    }],
    });
{% endblock %}
